<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Czym się zajmujemy </h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-download wow bounceIn text-primary"></i>
                    <h3>Zdobywanie doświadczenia</h3>
                    <p class="text-muted">Regularne poznawanie teorii i ćwiczenia praktyczne </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-inbox wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Wspólne wykrywanie podatności</h3>
                    <p class="text-muted">Hack The Box, Over The Wire, Rozwal.to, DVWA, hack.me</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Współpraca z ekspertami</h3>
                    <p class="text-muted">Czerpiemy wiedzę od profesjonalistów</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Cotygodniowe spotkania</h3>
                    <p class="text-muted">Dla każdego: bardziej lub mniej doświadczonego</p>
                </div>
            </div>
        </div>
    </div>
</section>
